altair==4.2.2
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1783889660/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1762509368570/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_arrow_1760831179/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1733838630785/work
asttokens==3.0.1
async-lru @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-lru_1773926359/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
babel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_babel_1772555330/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1781450835/work
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1734539225393/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1780853104376/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1780675823/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1784288923471/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1784272498501/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1759755605562/work
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1783242827500/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1779411518554/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1781719850827/work/certifi
cffi @ file:///D:/bld/cffi_1783424133003/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1783505251992/work
click==7.1.2
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1760997237797/work
colorama==0.4.6
comm==0.2.3
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155974/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
debugpy==1.8.21
decorator==5.3.1
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints==0.4
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing==2.2.1
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools @ file:///D:/bld/fonttools_1778770294641/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1784209871941/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_holidays_1783424089/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools==0.8.0
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1776068706467/work
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1762040433881/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
itsdangerous==2.2.0
jedi==0.20.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jmespath_1769161799/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1781926818640/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1774311356/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1776861872/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-lsp_1775136333/work/jupyter-lsp
jupyter_builder @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-builder_1783865596/work
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_1781713810/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_terminals_1768574057/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1782739339401/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab_server_1761145478/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab_widgets_1762267481/work/python/jupyterlab_widgets
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1773067062/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1761596826058/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444956616/work
matplotlib==3.11.0
matplotlib-inline==0.2.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1783600905/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1783943716/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1780660955275/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1775615493/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest-asyncio2==1.7.2
notebook @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_notebook_1781800954/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169235/work/dist/numpy-2.4.6-cp311-cp311-win_amd64.whl#sha256=1f5fa3c853dd01b13cacc0fd3cfdc827bb2f4cf73638f3949fcee463a6dc8304
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging==26.2
pandas @ file:///D:/bld/bld/rattler-build_pandas_1778602666/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.8.7
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1782912129/work
platformdirs==4.10.0
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1738091316609/work/packages/python/plotly/dist/plotly-6.0.0.tar.gz#sha256=0b7834e43d05901cd1945fec77e668f6f07505ff4658f1a07632bdb7a0e8ec91
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1775771358777/work
prompt_toolkit==3.0.52
prophet @ file:///D:/bld/prophet_1780342983275/work
protobuf==3.20.3
psutil==7.2.2
pure_eval==0.2.3
pyarrow==24.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pydeck==0.2.1
Pygments==2.20.0
Pympler @ file:///Users/runner/miniforge3/conda-bld/pympler_1784151569122/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.11.1
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil==2.9.0.post0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1781035921412/work
python-multipart==0.0.32
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1781362876/work
pywinpty @ file:///D:/bld/pywinpty_1759556128410/work/target/wheels/pywinpty-2.0.15-cp311-none-win_amd64.whl#sha256=2ffdb50437cbecae4896ed6822b3a4157373670bd4849a2d3a0719fd624e5df6
PyYAML @ file:///D:/bld/pyyaml_1770223251282/work
pyzmq==27.1.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rfc3987-syntax @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rfc3987-syntax_1752876729/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1782831456/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1783769294388/work
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1780401098/work/dist/scikit_learn-1.9.0-cp311-cp311-win_amd64.whl#sha256=3d3874bafbadd1ceb03a99ebf7e08960f4324a3abc5af13343543fdb41a58fd5
scipy @ file:///D:/bld/scipy-split_1779874050212/work/dist/scipy-1.17.1-cp311-cp311-win_amd64.whl#sha256=b7303dbff91581447e6473882e935d15f4f6d8c7afaae2f47a2d49e9c3940ea1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_semver_1767294175/work
Send2Trash @ file:///D:/bld/bld/rattler-build_send2trash_1770937641/work
shiboken6==6.11.1
six==1.17.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smmap_1781021238/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1779635457288/work
stack-data==0.6.3
stanio @ file:///home/conda/feedstock_root/build_artifacts/stanio_1734581598953/work
starlette==1.3.1
statsmodels @ file:///D:/bld/statsmodels_1764983002197/work
streamlit==1.59.2
tenacity==9.1.4
terminado @ file:///D:/bld/bld/rattler-build_terminado_1766513806/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
toolz==1.1.0
tornado==6.5.7
tqdm @ file:///D:/bld/bld/rattler-build_tqdm_1783440259/work
traitlets==5.15.1
typing_extensions==4.16.0
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1783704735836/work
tzlocal @ file:///D:/bld/bld/rattler-build_tzlocal_1782759624/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908975304/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
uvicorn==0.51.0
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1746267078840/work
watchdog @ file:///D:/bld/bld/rattler-build_watchdog_1772608057/work
wcwidth==0.8.2
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1761899299899/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1759928050786/work
websockets==16.1.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1762040310212/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1774899962131/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
